body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.news img{
  height: 150px;
  width: 150px;
}
.content-left{
  width:48%;
  float:left;
}
.content-right{
  width:50%;
  float: left;
  border-right:1px solid #999999;
}
.todo-title{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333;
  color: #fff;
}
.todo-title input{
  width:300px;
  line-height: 20px;
  border:1px solid #555;
}
.menus-title{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #000;
  color:#fff;
}
.menus-content{
  margin-top: 10px;
  overflow: hidden;
}
.menus-content p{
  margin: 0px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.menus-content ul,.menus-content li{
  list-style: none;
  display: block;
}
.menus-content li{
  text-align: center;
  float: left;
  width: 33.3%;
  box-sizing:border-box;
  padding:5px;
  border-radius: 3px;
}
.menus-content img{
  height: 100px;
  width: 100px;
  border-radius: 2px;
}
.menus-content span{
  display: block;
  width: 100%;
  line-height: 30px;
  text-align: center;
}
.menus-content span.price{
  color:#f00;
}
.menus-content a{
  text-decoration: none;
  color: #555;
}